<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- styles -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css">

    <link rel="stylesheet" href="{{ ASSET_PATH }}/js/google-code-prettify/prettify.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--  fav and touch icons -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ ASSET_PATH }}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ ASSET_PATH }}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ ASSET_PATH }}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ ASSET_PATH }}/ico/apple-touch-icon-57-precomposed.png">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        <div class="nav-collapse">
	    <ul class="nav"><!--
	    {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
	    -->
	    
		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">程序设计<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">程序设计</a></li>		
			<li class="divider"></li>
			<li class="nav-header">Backend</li>
			<li><a href="#">PHP</a></li>
			<li><a href="#">Python</a></li>
			<li><a href="#">Ruby</a></li>
			<li><a href="#">Nodejs</a></li>
			<li><a href="#">Java</a></li>
			<li class="divider"></li>
			<li class="nav-header">Javascript</li>
			<li><a href="#">native js</a></li>
			<li><a href="#">JQUERY</a></li>
		    </ul>
		    </li>

		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">计算机技术<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">计算机技术</a></li>
			<li class="divider"></li>			
			<li class="nav-header">网络技术</li>
			<li class="divider"></li>
			<li><a href="#">HTTP</a></li>
			<li><a href="#">负载均衡</a></li>
			<li><a href="#">读写分离</a></li>
			<li><a href="#">单点登陆</a></li>
			<li><a href="#">HACKS</a></li>
			<li><a href="#">SAE</a></li>
			<li class="divider"></li>
			<li><a href="#">Windows</a></li>
			<li><a href="#">Mac</a></li>
		    </ul>
		    </li>
		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">GUI<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">GUI</a></li>
			<li class="divider"></li>
			<li class="nav-header">Mobile</li>
			<li><a href="#">Objective-c</a></li>
			<li><a href="#">Android</a></li>
			<li class="divider"></li>
			<li class="nav-header">C++</li>
			<li><a href="#">QT</a></li>
			<li><a href="#">PyQT4</a></li>
			<li class="divider"></li>
			<li class="nav-header">Front</li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">CSS</a></li>
		    </ul>
		</li>

		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Server<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">Server</a></li>
			<li class="divider"></li>
			<li><a href="#">FreeBSD</a></li>
			<li class="nav-header">Linux</li>
			<li><a href="#">centos</a></li>
			<li><a href="#">fedora</a></li>
			<li><a href="#">ubuntu</a></li>
			<li><a href="#">BASH</a></li>
			<li class="divider"></li>
			<li class="nav-header">HTTPD</li>
			<li><a href="#">Apache</a></li>
			<li><a href="#">Nginx</a></li>
			<li><a href="#">Squid</a></li>
			<li class="divider"></li>
			<li class="nav-header">DB</li>
			<li><a href="#">MySQL</a></li>
			<li><a href="#">Mangodb</a></li>
			<li><a href="#">Redis</a></li>
			<li class="divider"></li>
			<li><a href="#">RabbitMQ</a></li>
		    </ul>
		</li>

		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Open Source<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">Open Source</a></li>
			<li class="divider"></li>
			<li class="nav-header">CA</li>
			<li><a href="#">openCA</a></li>
			<li><a href="#">openSSL</a></li>
			<li><a href="#">openLDAP</a></li>
			<li class="divider"></li>
			<li class="nav-header">Framework</li>
			<li><a href="#">Drupal</a></li>
			<li><a href="#">Wordpress</a></li>
			<li><a href="#">Moodle</a></li>			
			<li class="divider"></li>
			<li><a href="#">YII</a></li>
			<li><a href="#">Zend</a></li>
			<li><a href="#">CI</a></li>
			<li class="divider"></li>
			<li><a href="#">Django</a></li>
			<li class="divider"></li>
			<li class="nav-header">DB</li>
			<li><a href="#">MySQL</a></li>
			<li><a href="#">Mangodb</a></li>
			<li><a href="#">Redis</a></li>
			<li class="divider"></li>
			<li><a href="#">Eclipse</a></li>
			<li><a href="#">Photoshop</a></li>
			<li><a href="#">GIT</a></li>
		    </ul>
		</li>

		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">MyProjects<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">MyProjects</a></li>
			<li class="divider"></li>		
		    </ul>
		</li>
		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">学习札记<b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="#">网文荟萃</a></li>
			<li><a href="#">网址收藏</a></li>
			<li><a href="#">英语学习</a></li>
			<li><a href="#">点点滴滴</a></li>
			<li class="divider"></li>		
		    </ul>
		</li>
		<li><a href="/page/Vim">Vim</a></li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">>>><b class="caret"></b></a>
		    <ul class="dropdown-menu">
			<li class="divider"></li>
			<li><a href="/pages.html">Pages</a></li>
			<li><a href="/archive.html">Archive</a></li>
			<li><a href="/tags.html">Tags</a></li>
			<li><a href="/categories.html">Categories</a></li>
			<li class="divider"></li>		
		    </ul>
		</li>
		
	      
          </ul>
          <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
   
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
      <footer>
        <p>&copy; {{ site.author.name }} 2012 
        </p>
      </footer>
    </div> <!-- /container -->
    <!-- javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->	
    <script src="{{ ASSET_PATH }}/js/jquery/jquery-1.7.2.js"></script>	
    <script src="{{ ASSET_PATH }}/js/google-code-prettify/prettify.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-modal.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/bootstrap-typeahead.js"></script>
    {% include JB/analytics %}    
</body>
</html>
